@import 'variables';

body {
  margin: 0px;
  background-color: $transparent;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: $font-size-s;
  color: $dark-gray;
  min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template: auto 1fr auto / 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas:
    '. header .'
    'main main main'
    'footer footer footer';
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $page-padding;
}

footer {
  grid-area: footer;
  background-color: $black;
  padding: $page-padding;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: '. footer-content .';
  border-radius: 0 80px 0 0;
  margin-top: 30px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas:
    '. intro .'
    'video video video'
    '. news .';
  row-gap: 50px;

  p {
    color: $gray;
  }

  section {
    padding: $page-padding;
  }
}

.nav__list,
.social-networks__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;

  li {
    display: block;
    position: relative;
    padding-right: 15px;
  }
}

.social-networks__list li {
  padding-right: 30px;
}

.social-networks__facebook {
  padding-left: 5px;
}

.nav__link,
.social-networks__link {
  text-decoration: none;
  display: block;
  color: $dark-gray;
  transition: $transition;
}

.nav__link:hover,
.social-networks__link:hover {
  opacity: $hover-opacity;
}

.nav__link_active,
.nav__link_active:hover,
.social-networks__link {
  position: relative;
  opacity: 1;
}

.nav__link_active::before {
  @extend %highlight;
  height: 4px;
  width: 25px;
  bottom: 0;
}

.header__logo {
  position: absolute;
  left: calc(50% - 60px);
  top: 26px;
}

.social-networks__link::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/icons/ellipse.svg');
  height: 49px;
  width: 46px;
  top: -11px;
  left: -11px;
}

.footer {
  grid-area: footer-content;
  color: $white;
  font-size: $font-size-xxs;

  .footer__text {
    margin: 5px;
  }

  .footer__link {
    text-decoration: none;
    color: $light-yellow;
    transition: $transition;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

.title,
.subtitle {
  margin: 0;
  font-size: $font-size-l;
}

.subtitle {
  font-weight: 400;
  font-size: $font-size-m;
}

.button {
  display: block;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  background-color: $dark-gray;
  color: $white;
  padding-top: 15px;
  border-radius: 10px;
  transition: $transition;

  &:hover {
    opacity: $hover-opacity;
  }
}

.intro-section {
  grid-area: intro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.intro-section__text {
  width: 40%;
}

.intro-section__title,
.intro-section__subtitle {
  font-size: $font-size-xl;
  display: inline-block;
  position: relative;
}

.intro-section__title::before {
  @extend %highlight;
  height: 12px;
  width: 105px;
  bottom: 15px;
  z-index: -5;
}

.intro-section__image {
  width: 50%;
  position: relative;
  z-index: -1;
}

.intro-section__background {
  position: absolute;
  width: 100%;
  top: -180px;
  z-index: -15;
}

.intro-section__wpl-intro-image {
  width: 95%;
  padding-left: 5%;
}

.video-section {
  grid-area: video;
  background-color: $blue;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: '. video-content .';
  margin-right: 100px;
  border-radius: 0 270px 0 0;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -10;
}

.video-wrapper {
  grid-area: video-content;
  display: flex;
  gap: 50px;
  align-items: center;
}

.video-section__text {
  color: $dark-gray;
}

.video-section__text p,
.video-section__text strong {
  margin: 0;
  display: block;
  position: relative;
}

.video-section__text strong::before {
  @extend %highlight;
  height: 12px;
  width: 38px;
  bottom: 3px;
  z-index: -1;
}

.news-section {
  grid-area: news;
}

.news-item__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.news-item__image {
  width: 50%;
  position: relative;
}

.news-item__background {
  position: absolute;
  width: 90%;
  top: -90px;
  z-index: -15;
}

.news-item__photo {
  width: 100%;
  margin-top: -150px;
}

.news-item__text {
  width: 50%;

  .date {
    position: relative;

    &::before {
      @extend %highlight;
      height: 12px;
      width: 215px;
      bottom: 6px;
      z-index: -1;
    }
  }
}

.quote {
  width: 80%;
  border: 1px solid $light-yellow;
  padding: 15px;
  margin: 15px 0;
}

.quote__author {
  display: inline-block;
  height: 12px;
  width: 30px;
  background-color: $yellow;
  margin-right: 10px;
}
