.news-section-winners .winner::before, .news-item__text .date::before, .video-section__text strong::before, .intro-section__title::before, .nav__link_active::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #efd912;
}

body {
  margin: 0px;
  background-color: transparent;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 18px;
  color: #331b3b;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto/1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: ". header ." "main main main" "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px 30px;
  height: 68px;
}

footer {
  grid-area: footer;
  background-color: #232323;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: ". footer-content .";
  border-radius: 0 80px 0 0;
  margin-top: 30px;
}
@media (max-width: 850px) {
  footer {
    padding: 15px 5px;
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: ". intro ." "video video video" ". news ." "people people people" ". news-winners .";
  row-gap: 50px;
}
main p {
  color: rgba(51, 27, 59, 0.6588235294);
}
main section {
  padding: 15px 30px;
}

.main__players {
  grid-template-areas: ". content .";
}
@media (max-width: 578px) {
  .main__players {
    margin-top: 20px;
  }
}

.nav__list,
.social-networks__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}
.nav__list li,
.social-networks__list li {
  display: block;
  position: relative;
  padding-right: 15px;
}

@media (max-width: 850px) {
  .nav__list {
    display: none;
  }
}

@media (max-width: 578px) {
  .social-networks__list {
    position: relative;
    transform: scale(0.8);
    top: 70%;
    left: 5%;
  }
}

.social-networks__list li {
  padding-right: 30px;
}

.social-networks__facebook {
  padding-left: 5px;
}

.nav__link,
.social-networks__link {
  text-decoration: none;
  display: block;
  color: #331b3b;
  transition: 0.2s ease all;
}

.nav__link:hover,
.social-networks__link:hover {
  opacity: 0.6;
}

.nav__link_active,
.nav__link_active:hover,
.social-networks__link {
  position: relative;
  opacity: 1;
}

.social-networks__link::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/icons/ellipse.svg");
  height: 49px;
  width: 46px;
  top: -11px;
  left: -11px;
}

.nav__link_active::before {
  height: 4px;
  width: 25px;
  bottom: 0;
}

.lock_scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;
  display: none;
  background-color: #232323;
  opacity: 0;
}

.overlay_active {
  display: flex;
  transition: 0.2s ease all;
  opacity: 0.7;
}

.burger-menu {
  z-index: 25;
  display: none;
  border: none;
  background-color: transparent;
}
.burger-menu:hover {
  cursor: pointer;
}
.burger-menu .burger-menu__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #232323;
  transition: 0.2s ease all;
}
@media (max-width: 850px) {
  .burger-menu {
    display: block;
  }
}

.burger-menu_active {
  transform: translateX(-2px);
}
.burger-menu_active .burger-menu__bar {
  background-color: #ffffff;
}
.burger-menu_active .burger-menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-menu_active .burger-menu__bar:nth-child(2) {
  opacity: 0;
}
.burger-menu_active .burger-menu__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burger-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 24;
  background-color: #331b3b;
  height: 100vh;
  width: 50vw;
  min-width: 300px;
  padding-top: 70px;
  transform: translateX(-110%);
  transition: 0.2s ease all;
}
.burger-menu__nav_active {
  transform: translateX(0%);
}
.burger-menu__nav li {
  display: inline-block;
  width: 100%;
}
.burger-menu__nav .nav__link {
  display: inline-block;
  width: 80%;
  color: #ffffff;
  padding: 15px 35px;
}
.burger-menu__nav .nav__link_active::before {
  background-color: rgba(247, 234, 121, 0.8);
  bottom: 12px;
}

.header__logo {
  position: absolute;
  left: calc(50% - 60px);
  top: 26px;
}
@media (max-width: 1080px) {
  .header__logo {
    left: calc(50% + 60px);
  }
}
@media (max-width: 850px) {
  .header__logo {
    left: calc(50% - 60px);
  }
}
@media (max-width: 578px) {
  .header__logo {
    left: calc(100% - 150px);
  }
}

.footer {
  grid-area: footer-content;
  color: #ffffff;
  font-size: 12px;
}
.footer .footer__text {
  margin: 5px;
}
.footer .footer__link {
  text-decoration: none;
  color: rgba(247, 234, 121, 0.8);
  transition: 0.2s ease all;
}
.footer .footer__link:hover {
  opacity: 0.6;
}

.title,
.subtitle {
  margin: 0;
  font-size: 36px;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
}

.button {
  display: block;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  background-color: #331b3b;
  color: #ffffff;
  padding-top: 15px;
  border-radius: 10px;
  transition: 0.2s ease all;
}
.button:hover {
  opacity: 0.6;
}

.intro-section {
  grid-area: intro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .intro-section {
    gap: 50px;
  }
}
@media (max-width: 578px) {
  .intro-section {
    margin-top: 20px;
  }
}

.intro-section__text {
  width: 40%;
}
@media (max-width: 768px) {
  .intro-section__text {
    width: 100%;
  }
}

.intro-section__title,
.intro-section__subtitle {
  font-size: 48px;
  display: inline-block;
  position: relative;
}
@media (max-width: 1080px) {
  .intro-section__title,
  .intro-section__subtitle {
    font-size: 36px;
  }
}

.intro-section__title::before {
  height: 12px;
  width: 105px;
  bottom: 15px;
  z-index: -5;
}
@media (max-width: 1080px) {
  .intro-section__title::before {
    width: 80px;
    bottom: 10px;
  }
}

.intro-section__image {
  width: 50%;
  position: relative;
  z-index: -1;
}
@media (max-width: 768px) {
  .intro-section__image {
    width: 70%;
  }
}
@media (max-width: 578px) {
  .intro-section__image {
    width: 90%;
  }
}

.intro-section__background {
  position: absolute;
  width: 100%;
  top: -180px;
  z-index: -15;
}
@media (max-width: 1080px) {
  .intro-section__background {
    top: -140px;
  }
}
@media (max-width: 850px) {
  .intro-section__background {
    top: -100px;
  }
}
@media (max-width: 768px) {
  .intro-section__background {
    left: -40px;
  }
}
@media (max-width: 578px) {
  .intro-section__background {
    left: 10px;
    top: -70px;
  }
}

.intro-section__wpl-intro-image {
  width: 95%;
  padding-left: 5%;
}

.video-section {
  grid-area: video;
  background-color: #e2f0f9;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: ". video-content .";
  margin-right: 100px;
  border-radius: 0 270px 0 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .video-section {
    border-radius: 0 150px 0 0;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .video-section {
    border-radius: 0 0 0 0;
    margin-right: 0;
    padding: 15px 5px;
  }
}

.video-section__video {
  grid-area: video-content;
  display: flex;
  gap: 50px;
  align-items: center;
}
.video-section__video iframe {
  z-index: 3;
  border: 0px;
}
@media (max-width: 768px) {
  .video-section__video iframe {
    width: 90%;
  }
}
@media (max-width: 578px) {
  .video-section__video iframe {
    width: 80%;
    height: 210px;
  }
}
@media (max-width: 420px) {
  .video-section__video iframe {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .video-section__video {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
@media (max-width: 420px) {
  .video-section__video {
    gap: 5px;
  }
}

.video-section__text {
  color: #331b3b;
}

.video-section__text p,
.video-section__text strong {
  margin: 0;
  display: block;
  position: relative;
  z-index: 3;
}

.video-section__text strong::before {
  height: 12px;
  width: 38px;
  bottom: 3px;
  z-index: -1;
}

.news-section {
  grid-area: news;
}

.news-item__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 850px) {
  .news-item__main-block {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1080px) {
  .news-item__main-block_styled {
    flex-direction: column-reverse;
  }
}

.news-item__image {
  text-align: center;
  width: 30%;
}
@media (max-width: 1080px) {
  .news-item__image {
    width: 50%;
  }
}
@media (max-width: 578px) {
  .news-item__image {
    width: 80%;
  }
}
.news-item__image .news-item__photo {
  margin-top: 0;
  width: 100%;
}

.news-item__image.team-image {
  display: none;
}
@media (max-width: 578px) {
  .news-item__image.team-image {
    display: inline-block;
  }
}

.news-item__image_styled {
  width: 50%;
  position: relative;
  z-index: -1;
}
@media (max-width: 1080px) {
  .news-item__image_styled {
    width: 70%;
  }
}
@media (max-width: 578px) {
  .news-item__image_styled {
    display: none;
  }
}
.news-item__image_styled .news-item__background {
  position: absolute;
  width: 90%;
  top: -90px;
  z-index: -15;
}
@media (max-width: 1080px) {
  .news-item__image_styled .news-item__background {
    top: -60px;
  }
}
.news-item__image_styled .news-item__photo {
  width: 100%;
  margin-top: -150px;
}
@media (max-width: 1080px) {
  .news-item__image_styled .news-item__photo {
    margin-bottom: -100px;
  }
}
@media (max-width: 768px) {
  .news-item__image_styled .news-item__photo {
    width: 120%;
  }
}

.news-item__text {
  width: 50%;
}
.news-item__text .date {
  position: relative;
}
.news-item__text .date::before {
  height: 12px;
  width: 215px;
  bottom: 6px;
  z-index: -1;
}
@media (max-width: 1080px) {
  .news-item__text {
    width: 100%;
  }
}

.quote {
  width: 80%;
  border: 1px solid rgba(247, 234, 121, 0.8);
  padding: 15px;
  margin: 15px 0;
}
@media (max-width: 1080px) {
  .quote {
    width: 95%;
  }
}
@media (max-width: 578px) {
  .quote {
    width: 90%;
  }
}

.quote__author {
  display: inline-block;
  height: 12px;
  width: 30px;
  background-color: #efd912;
  margin-right: 10px;
}

.people-section {
  grid-area: people;
  background-color: #fdede8;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: ". people-links .";
  margin-left: 100px;
  border-radius: 270px 0 0 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .people-section {
    border-radius: 0 0 0 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .people-section {
    border-radius: 0 0 0 0;
    margin-left: 0;
    padding: 15px 5px;
  }
}

.people-links {
  grid-area: people-links;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-left: 120px;
}
@media (max-width: 768px) {
  .people-links {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 578px) {
  .people-links {
    flex-direction: column;
    align-items: center;
  }
}

.people-links__photo {
  height: 220px;
}
.people-links__photo img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1080px) {
  .people-links__photo {
    height: 170px;
  }
}
@media (max-width: 850px) {
  .people-links__photo {
    height: 120px;
  }
}
@media (max-width: 768px) {
  .people-links__photo {
    height: 150px;
  }
}
@media (max-width: 578px) {
  .people-links__photo {
    height: 310px;
  }
}

.people-links__item {
  text-decoration: none;
  width: 30%;
  border: 1px solid #e8e8e8;
  padding: 15px 15px 0;
  background-color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease all;
}
@media (max-width: 578px) {
  .people-links__item {
    width: 90%;
  }
}
.people-links__item .title {
  font-size: 24px;
  color: #331b3b;
  transition: 0.2s ease all;
}
.people-links__item .title:hover {
  opacity: 0.6;
}
@media (max-width: 850px) {
  .people-links__item .title {
    font-size: 18px;
  }
}
@media (max-width: 578px) {
  .people-links__item .title {
    font-size: 24px;
  }
}
.people-links__item p {
  font-size: 16px;
}
@media (max-width: 850px) {
  .people-links__item p {
    font-size: 12px;
  }
}
@media (max-width: 578px) {
  .people-links__item p {
    font-size: 16px;
  }
}
.people-links__item:hover {
  box-shadow: 0px 13px 26px -15px rgba(34, 60, 80, 0.3);
}

.news-section-winners {
  grid-area: news-winners;
}
.news-section-winners .news-item__main-block {
  justify-content: center;
  gap: 40px;
}
.news-section-winners .winner {
  position: relative;
}
.news-section-winners .winner::before {
  height: 12px;
  width: 120px;
  bottom: 6px;
  z-index: -1;
}

.players-section {
  grid-area: content;
}
@media (max-width: 578px) {
  .players-section .title {
    text-align: center;
  }
}

.players {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 578px) {
  .players {
    flex-direction: column;
    align-items: center;
  }
}

.player {
  width: 26%;
  border: 1px solid #e8e8e8;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
}
.player .title,
.player .subtitle {
  font-size: 24px;
  text-align: left;
}
@media (max-width: 768px) {
  .player .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 578px) {
  .player {
    width: 80%;
  }
}
.player .player__photo img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */