@import 'variables';

body {
  margin: 0px;
  background-color: $transparent;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: $font-size-s;
  color: $dark-gray;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas:
    '. header .'
    'main main main'
    'footer footer footer';
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $page-padding;
  height: 68px;
}

footer {
  grid-area: footer;
  background-color: $black;
  padding: $page-padding;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: '. footer-content .';
  border-radius: 0 80px 0 0;
  margin-top: 30px;

  @media (max-width: $breakpoint-xl) {
    padding: $page-padding-s;
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas:
    '. intro .'
    'video video video'
    '. news .'
    'people people people'
    '. news-winners .';
  row-gap: 50px;

  p {
    color: $gray;
  }

  section {
    padding: $page-padding;
  }
}

.main__players,
.main__wpl-event,
.main__results {
  grid-template-areas: '. content .';

  @media (max-width: $breakpoint-m) {
    margin-top: 20px;
  }
}

.nav__list,
.social-networks__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;

  li {
    display: block;
    position: relative;
    padding-right: 15px;
  }
}

.nav__list {
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
}

.social-networks__list {
  @media (max-width: $breakpoint-m) {
    position: relative;
    transform: scale(0.8);
    top: 70%;
    left: 5%;
  }
}

.social-networks__list li {
  padding-right: 30px;
}

.social-networks__facebook {
  padding-left: 5px;
}

.nav__link,
.social-networks__link {
  text-decoration: none;
  display: block;
  color: $dark-gray;
  transition: $transition;
}

.nav__link:hover,
.social-networks__link:hover {
  opacity: $hover-opacity;
}

.nav__link_active,
.nav__link_active:hover,
.social-networks__link {
  position: relative;
  opacity: 1;
}

.social-networks__link::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('../images/icons/ellipse.svg');
  height: 49px;
  width: 46px;
  top: -11px;
  left: -11px;
}

.nav__link_active::before {
  @extend %highlight;
  height: 4px;
  width: 25px;
  bottom: 0;
}

.lock_scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;
  display: none;
  background-color: $black;
  opacity: 0;
}

.overlay_active {
  display: flex;
  transition: $transition;
  opacity: 0.7;
}

.burger-menu {
  z-index: 25;
  display: none;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  .burger-menu__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: $black;
    transition: $transition;
  }

  @media (max-width: $breakpoint-xl) {
    display: block;
  }
}

.burger-menu_active {
  transform: translateX(-2px);

  .burger-menu__bar {
    background-color: $white;
  }

  & .burger-menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  & .burger-menu__bar:nth-child(2) {
    opacity: 0;
  }

  & .burger-menu__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.burger-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 24;
  background-color: $dark-gray;
  height: 100vh;
  width: 50vw;
  min-width: 300px;
  padding-top: 70px;
  transform: translateX(-110%);
  transition: $transition;

  &_active {
    transform: translateX(0%);
  }

  li {
    display: inline-block;
    width: 100%;
  }

  .nav__link {
    display: inline-block;
    width: 80%;
    color: $white;
    padding: 15px 35px;
  }

  .nav__link_active::before {
    background-color: $light-yellow;
    bottom: 12px;
  }
}

.header__logo {
  position: absolute;
  left: calc(50% - 60px);
  top: 26px;

  @media (max-width: $breakpoint-xxl) {
    left: calc(50% + 60px);
  }

  @media (max-width: $breakpoint-xl) {
    left: calc(50% - 60px);
  }

  @media (max-width: $breakpoint-m) {
    left: calc(100% - 150px);
  }
}

.footer {
  grid-area: footer-content;
  color: $white;
  font-size: $font-size-xxs;

  .footer__text {
    margin: 5px;
  }

  .footer__link {
    text-decoration: none;
    color: $light-yellow;
    transition: $transition;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

.title,
.subtitle {
  margin: 0;
  font-size: $font-size-l;
}

.subtitle {
  font-weight: 400;
  font-size: $font-size-m;
}

.button {
  display: block;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  background-color: $dark-gray;
  color: $white;
  padding-top: 15px;
  border-radius: 10px;
  transition: $transition;

  &:hover {
    opacity: $hover-opacity;
  }
}

.intro-section {
  grid-area: intro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  @media (max-width: $breakpoint-l) {
    flex-direction: column;
  }

  @media (max-width: $breakpoint-s) {
    gap: 50px;
  }

  @media (max-width: $breakpoint-m) {
    margin-top: 20px;
  }
}

.intro-section__text {
  width: 40%;

  @media (max-width: $breakpoint-l) {
    width: 100%;
  }
}

.intro-section__title,
.intro-section__subtitle {
  font-size: $font-size-xl;
  display: inline-block;
  position: relative;

  @media (max-width: $breakpoint-xxl) {
    font-size: $font-size-l;
  }
}

.intro-section__title::before {
  @extend %highlight;
  height: 12px;
  width: 105px;
  bottom: 15px;
  z-index: -5;

  @media (max-width: $breakpoint-xxl) {
    width: 80px;
    bottom: 10px;
  }
}

.intro-section__image {
  width: 50%;
  position: relative;
  z-index: -1;

  @media (max-width: $breakpoint-l) {
    width: 70%;
  }

  @media (max-width: $breakpoint-m) {
    width: 90%;
  }
}

.intro-section__background {
  position: absolute;
  width: 100%;
  top: -180px;
  z-index: -15;

  @media (max-width: $breakpoint-xxl) {
    top: -140px;
  }

  @media (max-width: $breakpoint-xl) {
    top: -100px;
  }

  @media (max-width: $breakpoint-l) {
    left: -40px;
  }

  @media (max-width: $breakpoint-m) {
    left: 10px;
    top: -70px;
  }
}

.intro-section__wpl-intro-image {
  width: 95%;
  padding-left: 5%;
}

.video-section {
  grid-area: video;
  background-color: $blue;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: '. video-content .';
  margin-right: 100px;
  border-radius: 0 270px 0 0;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $breakpoint-l) {
    border-radius: 0 150px 0 0;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: $breakpoint-s) {
    border-radius: 0 0 0 0;
    margin-right: 0;
    padding: $page-padding-s;
  }
}

.video-section__video {
  grid-area: video-content;
  display: flex;
  gap: 50px;
  align-items: center;

  iframe {
    z-index: 3;
    border: 0px;

    @media (max-width: $breakpoint-l) {
      width: 90%;
    }

    @media (max-width: $breakpoint-m) {
      width: 80%;
      height: 210px;
    }

    @media (max-width: $breakpoint-s) {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-l) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  @media (max-width: $breakpoint-s) {
    gap: 5px;
  }
}

.video-section__text {
  color: $dark-gray;
}

.video-section__text p,
.video-section__text strong {
  margin: 0;
  display: block;
  position: relative;
  z-index: 3;
}

.video-section__text strong::before {
  @extend %highlight;
  height: 12px;
  width: 38px;
  bottom: 3px;
  z-index: -1;
}

.news-section {
  grid-area: news;
}

.news-item__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  @media (max-width: $breakpoint-xl) {
    flex-direction: column-reverse;
  }

  &_styled {
    @media (max-width: $breakpoint-xxl) {
      flex-direction: column-reverse;
    }
  }
}

.news-item__image {
  text-align: center;
  width: 30%;

  @media (max-width: $breakpoint-xxl) {
    width: 50%;
  }

  @media (max-width: $breakpoint-m) {
    width: 80%;
  }

  .news-item__photo {
    margin-top: 0;
    width: 100%;
  }
}

.news-item__image.team-image {
  display: none;

  @media (max-width: $breakpoint-m) {
    display: inline-block;
  }
}

.news-item__image_styled {
  width: 50%;
  position: relative;
  z-index: -1;

  @media (max-width: $breakpoint-xxl) {
    width: 70%;
  }

  @media (max-width: $breakpoint-m) {
    display: none;
  }

  .news-item__background {
    position: absolute;
    width: 90%;
    top: -90px;
    z-index: -15;

    @media (max-width: $breakpoint-xxl) {
      top: -60px;
    }
  }

  .news-item__photo {
    width: 100%;
    margin-top: -150px;

    @media (max-width: $breakpoint-xxl) {
      margin-bottom: -100px;
    }

    @media (max-width: $breakpoint-l) {
      width: 120%;
    }
  }
}

.news-item__text {
  width: 50%;

  .date {
    position: relative;

    &::before {
      @extend %highlight;
      height: 12px;
      width: 215px;
      bottom: 6px;
      z-index: -1;
    }
  }

  @media (max-width: $breakpoint-xxl) {
    width: 100%;
  }
}

.quote {
  width: 80%;
  border: 1px solid $light-yellow;
  padding: 15px;
  margin: 15px 0;

  @media (max-width: $breakpoint-xxl) {
    width: 95%;
  }

  @media (max-width: $breakpoint-m) {
    width: 90%;
  }
}

.quote__author {
  display: inline-block;
  height: 12px;
  width: 30px;
  background-color: $yellow;
  margin-right: 10px;
}

.people-section {
  grid-area: people;
  background-color: $orange;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-areas: '. people-links .';
  margin-left: 100px;
  border-radius: 270px 0 0 0;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $breakpoint-l) {
    border-radius: 0 0 0 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: $breakpoint-s) {
    border-radius: 0 0 0 0;
    margin-left: 0;
    padding: $page-padding-s;
  }
}

.people-links {
  grid-area: people-links;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-left: 120px;

  @media (max-width: $breakpoint-l) {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: $breakpoint-m) {
    flex-direction: column;
    align-items: center;
  }
}

.people-links__photo {
  height: 220px;

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $breakpoint-xxl) {
    height: 170px;
  }

  @media (max-width: $breakpoint-xl) {
    height: 120px;
  }

  @media (max-width: $breakpoint-l) {
    height: 150px;
  }

  @media (max-width: $breakpoint-m) {
    height: 310px;
  }
}

.people-links__item {
  text-decoration: none;
  width: 30%;
  border: 1px solid $light-gray;
  padding: 15px 15px 0;
  background-color: $white;
  border-radius: 8px;
  transition: $transition;

  @media (max-width: $breakpoint-m) {
    width: 90%;
  }

  .title {
    font-size: $font-size-m;
    color: $dark-gray;
    transition: $transition;

    &:hover {
      opacity: $hover-opacity;
    }

    @media (max-width: $breakpoint-xl) {
      font-size: $font-size-s;
    }

    @media (max-width: $breakpoint-m) {
      font-size: $font-size-m;
    }
  }

  p {
    font-size: $font-size-xs;

    @media (max-width: $breakpoint-xl) {
      font-size: $font-size-xxs;
    }

    @media (max-width: $breakpoint-m) {
      font-size: $font-size-xs;
    }
  }

  &:hover {
    box-shadow: 0px 13px 26px -15px rgba(34, 60, 80, 0.3);
  }
}

.news-section-winners {
  grid-area: news-winners;

  .news-item__main-block {
    justify-content: center;
    gap: 40px;
  }

  .winner {
    position: relative;

    &::before {
      @extend %highlight;
      height: 12px;
      width: 120px;
      bottom: 6px;
      z-index: -1;
    }
  }
}

.players-section,
.wpl-event-section,
.results-section {
  grid-area: content;

  @media (max-width: $breakpoint-m) {
    .title {
      text-align: center;
    }
  }
}

.players {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-m) {
    flex-direction: column;
    align-items: center;
  }
}

.player {
  width: 26%;
  border: 1px solid $light-gray;
  padding: 10px;
  background-color: $white;
  border-radius: 8px;

  .title,
  .subtitle {
    font-size: $font-size-m;
    text-align: left;
  }

  @media (max-width: $breakpoint-l) {
    .subtitle {
      font-size: $font-size-s;
    }
  }

  @media (max-width: $breakpoint-m) {
    width: 80%;
  }

  .player__photo {
    img {
      width: 100%;
    }
  }
}

.accordion-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion {
  background-color: $light-gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: $transition;
  color: $dark-gray;
  font-size: $font-size-s;
  border-radius: 8px;
}

.active,
.accordion:hover {
  background-color: $light-yellow;
}

.panel {
  padding: 0 18px;
  // display: none;
  background-color: $white;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  max-height: 0px;

  &_active {
    transition: max-height 1s ease-in;
    max-height: 3000px;
  }
}
